
div {
    border: 1px blue solid;
}

section {
    background-color: lightgray;
    padding: 80px 40px;
}
img {
    /* width: 100%; */
}

.card {
    width: 250px;
    
}

.img-feat{
    width: 80px;
    height: 80px;
    border-radius: 50;
}

.img-card {
width: 100%;
}


#hero {
    background-image: url("../img/kirill-sharkovski-jZ9TPXjoZQk-unsplash.jpg");
    background-size: cover;
    height: 30vh;
    text-align: center;class="img-card"
}