
h1, h2, h3, h4, h5, h6, p, {
    font-family: 'Quicksand', sans-serif;
    margin: 10px 0px;
}
body {
    margin: 0;
}

h1 {font-size: 4.029rem;
}
h2 {font-size: 2.441rem;
}
h3 {font-size: 1.953rem;
}
h4 {font-size: 1.563rem;
}
h5 {font-size: 1.25rem;
}
h6 {font-size: 1rem;
}
p {color: #333;
}



div {
    /* border: 1px rgb(55, 55, 56) solid; */
}

section {
    background-color: lightgray;
    padding: 80px 40px;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 66px;
}

footer {
    justify-content: space-evenly;
    padding: 40px;
}

img {
    /* width: 100%; */
}

.card {
    width: 250px;
}

.img-holder {
    position: relative;
    height: 160px;
    width: 100%;
    overflow: hidden;
}

.img-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.img-feat{
    width: 80px;
    height: 80px;
    border-radius: 50;
    margin: 20px;
}

video {
    width: 100%;
}
#video {
    padding: 0;
}


/* forms */

input {
padding: 16px 24px;
margin: 8px 0;
border-radius: 5px;
}
input:focus {
    border: black;
}


input[type=text] {
    box-sizing: border-box;
    width: 78%;
    background-image: url("../icons/user-line.png");
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 40px;
    border: none;

}

input[type=email] {
    box-sizing: border-box;
    width: 78%;
    background-image: url("../icons/mail-line.png");
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 40px;
    border: none;
}

textarea {
    box-sizing: border-box;
    width: 80%;
    height: 150px;
    padding: 16px 24px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    resize: none;
}

input[type=submit] {
    border: none;
    background-color: plum;
    color: black;
    cursor: pointer;
    
}
#btn-form {
    width: 85%;
}

#hero {
    background-image: url("../img/kirill-sharkovski-jZ9TPXjoZQk-unsplash.jpg");
    background-size: cover;
    height: 30vh;
    text-align: center; class:"img-card"
}
#hero div {
    padding: 20px;
}

.icons {
    font-size: 24px;
    text-align: center;
}

.container {
    display: flex;
  }
  .author-card {
      align-items: center;
  }
  .author-photo {
      width: 40px;
      height: 40px;
      margin: 8px;
  }


/* links */
a:link, a:visited {
    padding: 10px;
    text-decoration: none;
    color: black;
}
a:hover {
    color: royalblue;
}
a:active {
    color: lime;
}

/* cta botton */
a.cta-button:link,  a.cta-button:visited {
    background-color: white;
    border-radius: 8px;
    color: royalblue;
    padding: 16px 24px;

}a.cta-button:hover {
    background-color: lightsteelblue;
}

a.cta-button:active {
    background-color: wheat;
}


#articles {
    justify-content: space-between;
}

#contact {
    justify-content: space-around;
    background-color:rgb(170, 208, 231);
}

.feature-item {
    flex-grow: 1;
}

a.btn-rocio {
    font-family: 'Quicksand', sans-serif;
    color: #131045;
    background-color: white;
    border: 2px solid #131045;
    padding: 10px 20px;
    box-shadow: 4px 4px 0 #131045;
    border-radius: 100px;
}

.div-contact {
    flex: 1;
}
#contack-div {
    padding: 80px;
}